@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto+Mono:wght@100;300;400;500;600&display=swap");

.page_404 {
  padding: 4rem 0;
  background: #fff;
  font-family: "Arvo", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 45rem;
    background-position: center;

    h1 {
      font-size: 8rem;
      text-align: center;
    }
  }

  .contentBox {
    margin-top: -5rem;

    h3 {
      font-size: 6rem;
    }
    p {
      font-size: 3rem;
    }

    .link_404 {
      color: #fff !important;
      padding: 1rem 2rem;
      background: #39ac31;
      margin: 2rem 0;
      display: inline-block;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}
